In [2]:
import pandas as pd
import os
from process import lyric_tokenizer
os.getcwd()

'/Users/carterward/Documents/GitHub/Topic-Mapping'

In [3]:
art1 = pd.read_csv("data/articles1.csv")
art2 = pd.read_csv("data/articles2.csv")
art3 = pd.read_csv("data/articles3.csv")

In [3]:
art1.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [4]:
art2.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [5]:
art3.columns

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [4]:
master_art = pd.concat([art1,art2,art3])

In [8]:
sample_art = master_art.sample(3000)

In [10]:
sample_art

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
19113,122575,182298,"Following advice, potential FBI chiefs steer c...",Reuters,Julia Edwards Ainsley,2017-05-16,2017.0,5.0,http://www.reuters.com/article/us-usa-trump-fb...,The Trump administration’s search for a new F...
20212,123674,184589,Iraqi forces seize more ground in Mosul from I...,Reuters,Stephen Kalin,2017-06-28,2017.0,6.0,http://www.reuters.com/article/us-mideast-cris...,Iraqi forces on Tuesday pushed towards the ri...
24205,127667,190929,Duterte declares upcoming Philippines-U.S. war...,Reuters,Martin Petty,2016-09-29,2016.0,9.0,http://www.reuters.com/article/us-philippines-...,Philippine President Rodrigo Duterte plunged ...
36642,37628,56467,Novak Djokovic beats Kei Nishikori in Rogers C...,CNN,NaN,2016-07-31,2016.0,7.0,NaN,(CNN) It was an afternoon for public displays...
90,53383,73585,The Trump Administration’s Conflicts of Intere...,Atlantic,Jeremy Venook,2017-01-18,2017.0,1.0,NaN,"As with so many of Trump’s appointees so far, ..."
...,...,...,...,...,...,...,...,...,...,...
16695,120157,177326,"Despite overtime finish, NFL Super Bowl draws ...",Reuters,Tim Baysinger,2017-02-07,2017.0,2.0,http://www.reuters.com/article/us-nfl-superbow...,"The contest included a thrilling finish, with ..."
30594,84053,126337,The NYPD delivers yet another record low in crime,New York Post,Post Editorial Board,2017-03-01,2017.0,3.0,https://web.archive.org/web/20170302014136/htt...,"Congrats to New York’s men and women in blue, ..."
27971,81430,122739,Would you watch ‘The Real Housewives of ISIS’?,New York Post,Natalie Musumeci,2017-01-06,2017.0,1.0,https://web.archive.org/web/20170107004213/htt...,“The Real Housewives of ISIS” is everything re...
24175,77624,118091,Obama in Cuba,National Review,Jay Nordlinger,2016-02-22,2016.0,2.0,http://www.nationalreview.com/article/431692/o...,So President Obama will travel to Cuba next mo...
33945,34479,53296,"Jared Kushner, Ivanka Trump hit the slopes again",CNN,Betsy Klein,2017-04-13,2017.0,4.0,NaN,(CNN) As President Donald Trump grappled with...

In [12]:
tokenized_art =[]
i = 1
for art in sample_art['content'].values:
    if i % 100 == 0:
        print(i)
    tokenized_art.append(' '.join(lyric_tokenizer(art)))
    i+=1

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000

In [14]:
sample_art['tokenized_content'] = tokenized_art

In [16]:
sample_art.to_csv("article_sample.csv")